<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Lifesy - Documentation</title>
    <meta
      content=""
      name="We are Team of Goal Diggers. Each member of our Team is dedicated to providing the highest standard of care and Support to all the patients by recommending required solution according to symptoms of patient’s disease. We are recommending prescription & nearby hospitals according to patients location."
    />
    <meta
      content=""
      name="Welcome to Lifesy Make your health classy with lifesy"
    />

    <!-- Favicons -->
    <link href="../assets/img/favicon.jpeg" rel="icon" />
    <link href="../assets/img/favicon.jpeg" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="../assets/vendor/animate.css/animate.min.css"
      rel="stylesheet"
    />
    <link href="../assets/vendor/aos/aos.css" rel="stylesheet" />
    <link
      href="../assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="../assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link
      href="../assets/vendor/boxicons/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      href="../assets/vendor/fontawesome-free/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="../assets/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link
      href="../assets/vendor/swiper/swiper-bundle.min.css"
      rel="stylesheet"
    />

    <!-- Template Main CSS File -->
    <link href="../assets/css/style.css" rel="stylesheet" />
  </head>

  <body>
    <!-- ======= Top Bar ======= -->
    <div id="topbar" class="d-flex align-items-center fixed-top">
      <div
        class="
          container
          d-flex
          align-items-center
          justify-content-center justify-content-md-between
        "
      >
        <div class="align-items-center d-none d-md-flex">
          <i class="bi bi-clock"></i> Monday - Sunday, 24x7
        </div>
        <div class="d-flex align-items-center">
          <i class="bi bi-phone"></i>
          <a href="mailto:askathcrs@gmail.com">Send Email</a>
        </div>
      </div>
    </div>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
      <div class="container d-flex align-items-center">
        <a href="index.html" class="logo me-auto"
          ><img src="../assets/img/logo.jpeg" alt="logo"
        /></a>

        <nav id="navbar" class="navbar order-last order-lg-0">
          <ul>
            <li><a class="nav-link scrollto" href="../index.html">Home</a></li>
            <li>
              <a
                class="nav-link scrollto"
                href="../PHP Admin/patient/patient.php"
                >Predict Disease</a
              >
            </li>

            <li class="dropdown">
              <a href="#"
                ><span>Services</span> <i class="bi bi-chevron-down"></i
              ></a>
              <ul>
                <li>
                  <a href="../templates/covid19.html">Covid 19 updates</a>
                </li>
                <li><a href="../store.html">Locate Hospitals</a></li>
                <li>
                  <a href="../templates/PharmacyProducts.html"
                    >Pharmacy Products</a
                  >
                </li>
              </ul>
            </li>

            <li><a class="nav-link scrollto" href="../index.html">About</a></li>
            <li>
              <a
                class="nav-link scrollto"
                href="../templates/documentation.html"
                >Documentation</a
              >
            </li>
            <li>
              <a class="nav-link scrollto" href="../index.html">Our Team</a>
            </li>
            <li>
              <a class="nav-link scrollto" href="../index.html">Contact</a>
            </li>
            <li><a class="nav-link scrollto" href="../blogs.html">Blogs</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- .navbar -->
      </div>
    </header>
    <!-- End Header -->

    <!-- End #main -->
    <main id="main">
      <!-- ======= Documentation Section ======= -->
      <section id="departments" class="departments">
        <div class="container" data-aos="fade-up">
          <div class="section-title" id="departments-title">
            <h2>Documentation</h2>
          </div>

          <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-4 mb-5 mb-lg-0">
              <ul class="nav nav-tabs flex-column">
                <li class="nav-item">
                  <a
                    class="nav-link active show"
                    data-bs-toggle="tab"
                    data-bs-target="#tab-1"
                  >
                    <h4>Project screenshot</h4>
                  </a>
                </li>
                <li class="nav-item mt-2">
                  <a
                    class="nav-link"
                    data-bs-toggle="tab"
                    data-bs-target="#tab-2"
                  >
                    <h4>Project Documentation PDF's</h4>
                  </a>
                </li>
                <li class="nav-item mt-2">
                  <a
                    class="nav-link"
                    data-bs-toggle="tab"
                    data-bs-target="#tab-4"
                  >
                    <h4>Project explanation In Video</h4>
                  </a>
                </li>
              </ul>
            </div>
            <div class="col-lg-8">
              <div class="tab-content">
                <div class="tab-pane active show" id="tab-1">
                  <h3>Project screenshot</h3>
                  <div class="click-zoom">
                    <label>
                      <input type="checkbox" />
                      <img
                        src="../assets/img/final-project.JPG"
                        alt="Project screenshot"
                        class="img-fluid"
                      />
                    </label>
                  </div>
                </div>

                <div class="tab-pane" id="tab-2">
                  <h3>Project Documentation PDF's</h3>
                  <p class="fst-italic">Project report in details</p>
                  <embed
                    src="../assets/docs/docs.pdf#toolbar=0&navpanes=0&scrollbar=0"
                    type="application/pdf"
                    width="100%"
                    height="600px"
                  />
                </div>

                <div class="tab-pane" id="tab-4">
                  <h3>Project explanation In Videos</h3>
                  <!--<embed src="https://www.youtube.com/embed/ZH_eqAsWzaw"  class="img-fluid" type="">-->
                 <iframe width="560" height="315" src="https://www.youtube.com/embed/LmnlHG6cJ8w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--Documentation End  Section -->
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6">
              <div class="footer-info">
                <h3>Lifesy</h3>
                <br />
                <p>
                  India<br />
                  <strong>Email:</strong> askathcrs@gmail.com<br />
                </p>
                <div class="social-links mt-3">
                  <a
                    href="https://www.facebook.com/people/Lifesy-Healthcare/100070775650062/"
                    class="facebook"
                    ><i class="bx bxl-facebook"></i
                  ></a>
                  <a
                    href="https://www.instagram.com/caring_here/"
                    class="instagram"
                    ><i class="bx bxl-instagram"></i
                  ></a>
                  <a
                    href="https://lifesyheathcare.blogspot.com"
                    class="google-plus"
                    ><i class="fa fa-rss-square"></i
                  ></a>
                  <a
                    href="https://www.linkedin.com/in/healthcare-recommendation-423783218/"
                    class="linkedin"
                    ><i class="bx bxl-linkedin"></i
                  ></a>
                </div>
              </div>
            </div>

            <div class="col-lg-2 col-md-6 footer-links">
              <h4>Useful Links</h4>
              <ul>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="../index.html">Home</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="../index.html">Services</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="../templates/documentation.html">Documentation</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="../index.html">About us</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="../templates/Privacy-policy.html">Privacy policy</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="./store.html">Locate a Store</a>
                </li>
              </ul>
            </div>

            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Our Resources</h4>
              <ul>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="../PHP Admin/patient/patient.php">Predict Disease</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="https://github.com/lifesyhealthcare">Github Rep</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="../blogs.html">Blogs</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="../PHP Admin/adminlogin.php">Doctor Login</a>
                </li>
              </ul>
            </div>

            <div class="col-lg-4 col-md-6 footer-newsletter">
              <h4>Subscribe to Our Newsletter</h4>
              <p>Get Our New Updates On</p>

              <input type="text" name="email" placeholder="Enter your email" />
              <button type="submit">SUBSCRIBE</button>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>Lifesy</span></strong
          >. All Rights Reserved
        </div>
        <div class="credits">
          Designed by <a href="../index.html">Goal Diggers & team</a>
        </div>
      </div>
    </footer>
    <!-- End Footer -->

    <div id="preloader"></div>
    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Vendor JS Files -->
    <script src="../assets/vendor/aos/aos.js"></script>
    <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="../assets/vendor/purecounter/purecounter.js"></script>
    <script src="../assets/vendor/swiper/swiper-bundle.min.js"></script>

    <!--Covid js-->
    <script src="../assets/vendor/covid/covid-main.js"></script>

    <!-- Template Main JS File -->
    <script src="../assets/js/main.js"></script>

    <!--jquery min-->
    <script src="../assets/js/jquery.min.js"></script>
  </body>
</html>
''
