<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Lifesy - Pharmacy</title>
    <meta
      name="description"
      content="We are Team of Goal Diggers. Each member of our Team is dedicated to providing the highest standard of care and Support to all the patients by recommending required solution according to symptoms of patient’s disease. We are recommending prescription & nearby hospitals according to patients location."
    />
    <meta
      name="description"
      content="Welcome to Lifesy Make your health classy with lifesy"
    />
    <meta name="keywords" content="Heathcare,Doctor,Consultation" />

    <!-- Favicons -->
    <link href="../assets/img/favicon.jpeg" rel="icon" />
    <link href="../assets/img/favicon.jpeg" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Template Main CSS File -->
    <link type="text/css" href="../assets/css/style.css" rel="stylesheet" />

    <!-- Vendor CSS Files -->
    <link
      href="../assets/vendor/animate.css/animate.min.css"
      rel="stylesheet"
    />
    <link href="../assets/vendor/aos/aos.css" rel="stylesheet" />
    <link
      href="../assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="../assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link
      href="../assets/vendor/boxicons/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      href="../assets/vendor/fontawesome-free/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="../assets/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link
      href="../assets/vendor/swiper/swiper-bundle.min.css"
      rel="stylesheet"
    />

    <!--jquery min-->
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>

    <!-- ChatBot -->
    <link
      rel="stylesheet"
      type="text/css"
      href="../chat-bot-tester/css/boot.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="../chat-bot-tester/css/style.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="../chat-bot-tester/css/jquery.chatbot.css"
    />
    <script
      type="text/javascript"
      src="../chat-bot-tester/js/jquery-3.1.1.min.js"
    ></script>
    <script
      type="text/javascript"
      src="../chat-bot-tester/js/jquery.chatbot.js"
    ></script>
  </head>
  <body>
    <!-- ======= Top Bar ======= -->
    <div id="topbar" class="d-flex align-items-center fixed-top">
      <div
        class="
          container
          d-flex
          align-items-center
          justify-content-center justify-content-md-between
        "
      >
        <div class="align-items-center d-none d-md-flex">
          <i class="bi bi-clock"></i> Monday - Sunday, 24x7
        </div>
        <div class="d-flex align-items-center">
          <i class="bi bi-phone"></i>
          <a href="mailto:askathcrs@gmail.com">Send Email</a>
        </div>
      </div>
    </div>
    <!--top bar end-->

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
      <div class="container d-flex align-items-center">
        <a href="index.html" class="logo me-auto"
          ><img src="../assets/img/logo.jpeg" alt="logo"
        /></a>

        <nav id="navbar" class="navbar order-last order-lg-0">
          <ul>
            <li><a class="nav-link scrollto" href="../index.html">Home</a></li>
            <li>
              <a
                class="nav-link scrollto"
                href="../PHP Admin/patient/patient.php"
                >Predict Disease</a
              >
            </li>

            <li class="dropdown">
              <a href="#"
                ><span>Services</span> <i class="bi bi-chevron-down"></i
              ></a>
              <ul>
                <li>
                  <a href="../templates/covid19.html">Covid 19 updates</a>
                </li>
                <li><a href="../store.html">Locate Hospitals</a></li>
                <li>
                  <a href="../templates/PharmacyProducts.html"
                    >Pharmacy Products</a
                  >
                </li>
              </ul>
            </li>

            <li><a class="nav-link scrollto" href="../index.html">About</a></li>
            <li>
              <a
                class="nav-link scrollto"
                href="../templates/documentation.html"
                >Documentation</a
              >
            </li>
            <li>
              <a class="nav-link scrollto" href="../index.html">Our Team</a>
            </li>
            <li>
              <a class="nav-link scrollto" href="../index.html">Contact</a>
            </li>
            <li><a class="nav-link scrollto" href="../blogs.html">Blogs</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- .navbar -->
      </div>
    </header>
    <!-- End Header -->

    <main>
      <!--Order Medicines Online-->
      <section id="orders1">
        <div class="container orders">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 orderCont">
              <h1>Get upto 30% discount on Medicine Orders</h1>
              <h4>
                Fill up the form or call us at +91xxxxxxxx to place your order
                now.
              </h4>
            </div>

            <div id="orderForm" class="col-12 col-sm-12 col-md-12 col-lg-6">
              <form
                action="mailto:somone@example.com"
                method="post"
                enctype="text/plain"
              >
                <label for="first-name">
                  <input
                    id="first-name"
                    type="text"
                    placeholder="First Name"
                    required
                  /> </label
                ><br />
                <label for="last-name">
                  <input
                    id="last-name"
                    type="text"
                    placeholder="Last Name"
                    required
                  />
                </label>
                <label for="contact">
                  <input
                    id="contact"
                    type="number"
                    placeholder="Enter Your Mobile No."
                    required
                  />
                </label>
                <label for="email">
                  <input
                    id="email"
                    type="email"
                    placeholder="Enter Your Email ID"
                    required
                  />
                </label>
                <label for="address">
                  <input
                    id="address"
                    type="address"
                    placeholder="Enter Your Address"
                    required
                  />
                </label>
                <label for="pincode">
                  <input
                    id="pincode"
                    type="number"
                    placeholder="pincode"
                    required
                  />
                </label>
                <label for="medicine">
                  <input
                    id="medicine"
                    type="text"
                    placeholder="Medicine Required"
                    required
                  />
                </label>
                <br />
                <button id="btn-order" type="submit">
                  Upload Prescription
                </button>
                <button id="btn-order" type="submit">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="container justify-content-center text-center">
          <h3>How it Works</h3>
          <div class="row" id="#process">
            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
              <div class="presc">
                <div><i class="fa fa-upload" aria-hidden="true"></i></div>
                <h4>Upload Prescription</h4>
                <h6>Fill the form and upload your prescription</h6>
              </div>
            </div>

            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
              <div class="presc">
                <div><i class="fas fa-tv"></i></div>
                <h4>Instant Booking</h4>
                <h6>
                  Our Experts will call you and book the requested medicine
                </h6>
              </div>
            </div>

            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
              <div class="presc">
                <div><i class="fas fa-truck"></i></div>
                <h4>Doorstep Delivery</h4>
                <h6>Your medicines will be delivered at your doorstep</h6>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6">
              <div class="footer-info">
                <h3>Lifesy</h3>
                <br />
                <p>
                  India<br />
                  <strong>Email:</strong> askathcrs@gmail.com<br />
                </p>
                <div class="social-links mt-3">
                  <a
                    href="https://www.facebook.com/people/Lifesy-Healthcare/100070775650062/"
                    class="facebook"
                    ><i class="bx bxl-facebook"></i
                  ></a>
                  <a
                    href="https://www.instagram.com/caring_here/"
                    class="instagram"
                    ><i class="bx bxl-instagram"></i
                  ></a>
                  <a
                    href="https://lifesyheathcare.blogspot.com"
                    class="google-plus"
                    ><i class="fa fa-rss-square"></i
                  ></a>
                  <a
                    href="https://www.linkedin.com/in/healthcare-recommendation-423783218/"
                    class="linkedin"
                    ><i class="bx bxl-linkedin"></i
                  ></a>
                </div>
              </div>
            </div>

            <div class="col-lg-2 col-md-6 footer-links">
              <h4>Useful Links</h4>
              <ul>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="../index.html">Home</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="../index.html">Services</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="../templates/documentation.html">Documentation</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="../index.html">About us</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="../templates/Privacy-policy.html">Privacy policy</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="./store.html">Locate a Store</a>
                </li>
              </ul>
            </div>

            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Our Resources</h4>
              <ul>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="../PHP Admin/patient/patient.php">Predict Disease</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="https://github.com/lifesyhealthcare">Github Rep</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="../blogs.html">Blogs</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="../PHP Admin/adminlogin.php">Doctor Login</a>
                </li>
              </ul>
            </div>

            <div class="col-lg-4 col-md-6 footer-newsletter">
              <h4>Subscribe to Our Newsletter</h4>
              <p>Get Our New Updates On</p>

              <input type="text" name="email" placeholder="Enter your email" />
              <button type="submit">SUBSCRIBE</button>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>Lifesy</span></strong
          >. All Rights Reserved
        </div>
        <div class="credits">
          Designed by <a href="../index.html">Goal Diggers & team</a>
        </div>
      </div>
    </footer>
    <!-- End Footer -->

    <div id="preloader"></div>
    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Vendor JS Files -->
    <script src="../assets/vendor/aos/aos.js"></script>
    <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="../assets/vendor/purecounter/purecounter.js"></script>
    <script src="../assets/vendor/swiper/swiper-bundle.min.js"></script>

    <!-- Template Main JS File -->
    <script src="../assets/js/main.js"></script>
  </body>
</html>
